@media only screen and (min-width: 900px) {
  .news .item:first-of-type {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 25px; }
    .news .item:first-of-type::before, .news .item:first-of-type::after {
      top: -20px; }
    .news .item:first-of-type .content {
      display: grid;
      grid-template-columns: 280px auto 210px;
      gap: 35px; }
      .news .item:first-of-type .content .cover {
        border-radius: 8px;
        overflow: hidden;
        width: 280px;
        max-width: 280px; }
      .news .item:first-of-type .content .main-content {
        align-self: flex-start;
        padding-top: 10px; }
        .news .item:first-of-type .content .main-content .title {
          font-size: 25px;
          font-weight: 700;
          line-height: 28px; }
        .news .item:first-of-type .content .main-content .description {
          display: block;
          margin-top: 28px;
          font-size: 18px;
          font-weight: 500;
          line-height: 27px; }
    .news .item:first-of-type .top-news__item-icon {
      width: 3rem;
      height: 3rem; } }
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .banner .logo .first-column span:first-child {
    font-size: 5vw;
    line-height: 29.05px; }
  .banner .logo .first-column span:last-child {
    font-size: 2vw;
    line-height: 19.36px; }
  .banner .logo .center-column span {
    font-size: 3vw; }
  .banner .logo .second-column span:first-child {
    font-size: 5vw;
    line-height: 29.05px; }
  .banner .logo .second-column span:last-child {
    font-size: 2vw;
    line-height: 19.36px; }

  .container {
    padding-left: 40px;
    padding-right: 40px; }

  .mission-and-business {
    grid-template-columns: calc(100% - 450px) auto;
    gap: 80px; }

  .business-modules {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 35px;
    gap: 35px; }

  .proof-country {
    padding: 0 10px; }
    .proof-country .title {
      font-size: 13px;
      font-weight: 600;
      line-height: 15px; }
    .proof-country .grid-list {
      margin-top: 10px;
      grid-template-columns: 1fr 1fr 1fr; } }
@media only screen and (min-width: 374px) and (max-width: 899px) {
  .banner .logo {
    gap: 17px; }
    .banner .logo .first-column span:first-child {
      font-size: 7vw;
      line-height: 29.05px; }
    .banner .logo .first-column span:last-child {
      font-size: 3vw;
      line-height: 19.36px; }
    .banner .logo .center-column span {
      font-size: 5vw !important;
      line-height: 29.05px !important; }
    .banner .logo .second-column span:first-child {
      font-size: 7vw;
      line-height: 29.05px; }
    .banner .logo .second-column span:last-child {
      font-size: 3vw;
      line-height: 19.36px; }

  .container {
    padding-left: 20px;
    padding-right: 20px; }

  .mission-and-business {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px; }

  .sticky-box {
    text-align: center; }
    .sticky-box img {
      width: 343px; }

  .business-modules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    gap: 35px; }

  .service-grid {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap; }
    .service-grid .tag {
      font-size: 11px; }

  .proof-country {
    padding: 0 10px; }
    .proof-country .grid-list {
      grid-template-columns: repeat(3, 1fr); }

  .news .grid-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .news .grid-list .item:first-of-type .content {
      display: flex; }
      .news .grid-list .item:first-of-type .content .main-content .title {
        font-size: 14px; }
      .news .grid-list .item:first-of-type .content .main-content .description {
        display: none; }

  .about-us .content {
    display: flex;
    flex-direction: column; } }
@media only screen and (max-width: 390px) {
  .banner {
    height: 593px; }

  .container {
    padding: 0; }

  .mission-and-business {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 0; }
    .mission-and-business .left {
      max-width: 375px; }
      .mission-and-business .left .our-mission p {
        margin-top: 8px !important; }

  .heading-title {
    font-size: 40px; }

  .our-business .title,
  .our-business p,
  .our-business .sub-title {
    font-size: 13px !important; }

  .sticky-box {
    text-align: center; }
    .sticky-box img {
      width: 343px;
      display: block; }

  .business-modules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    gap: 35px; }

  .our-service {
    padding: 0 10px; }
    .our-service .sub-title {
      font-size: 14px; }
    .our-service .service-grid {
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      gap: 35px; }
      .our-service .service-grid .content {
        padding-bottom: 17px !important; }

  .proof-country {
    padding: 0 20px;
    margin-top: 30px; }
    .proof-country .title {
      font-size: 13px;
      font-weight: 600;
      line-height: 15px; }
    .proof-country .grid-list {
      margin-top: 10px;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px; }
      .proof-country .grid-list .item {
        height: 100px; }

  .cases {
    padding: 0 10px; }

  .members {
    padding: 0 10px; }

  .news {
    padding: 0 10px; }
    .news .grid-list .item {
      margin-top: 22px; }
    .news .grid-list:last-child {
      padding-bottom: 10px;
      border-bottom: 1px solid #1a1a1a; }

  .about-us {
    padding: 0 10px; }
    .about-us .contact-us-title {
      display: block; }
    .about-us .content {
      grid-template-columns: 1fr; } }
